div.container.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 150px 0 0 0;

  p.lead {
    text-align: center;
    font-size: 50px;
  }

  div.search-box {
    padding: 0 50px;
    width: 100%;

    div.search-group {
      display: flex;
      flex-direction: row;
      align-content: space-between;

      > input[type="text"],
      > input[type="submit"] {
        order: 0;
        flex: 0 1 auto;
        margin-right: 15px;
        border-radius: 0;

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:last-child {
          margin-right: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }

    div.checkbox-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 15px;

      label {
        order: 0;
        flex: 0 1 auto;
        display: block;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

}