div.container.container-object-info {

  div.main-descr {

    p.descr {
      padding: 0;
      margin-bottom: 2px;
    }
  }

  div.navigation {
    margin-top: 15px;
  }

  div.order-status-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    div.order-status-item {
      flex: auto;
      margin-left: 5px;
      padding: 8px 5px;

      text-align: center;

      &:first-child {
        margin-left: 0;
      }

      &.captured {
        background: #d9534f;
      }

      &.free {
        background: #5cb85c;
      }

      &.hz {
        background: #888888;
      }
    }
  }
}