div.container-partners {
  div.wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50vh;
    max-height: 100vh;
    padding-bottom: 100px;

    background-color: #eea236;

    div.container {
      h1 {
        text-align: center;
      }

      div.gap {
        min-height: 20vh;
        max-height: 80vh;
      }

      div.gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        > img {
          flex: auto;

          max-width: 200px;
        }
      }
    }
  }
}