div.search-box {
  width: 100%;

  div.search-group {
    display: flex;
    flex-direction: row;
    align-content: space-between;

    > input[type="text"],
    > input[type="submit"] {
      order: 0;
      flex: 0 1 auto;
      margin-right: 15px;
      border-radius: 0;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        margin-right: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}