div.container-search {
  padding-top: 30px;

  div.fast-info {
    padding-top: 20px;

    div.counter {
      text-align: center;
    }

    div.util {
      text-align: right;
    }
  }

  div.content {
    margin-top: 20px;

    div.filters {

      div.section {
        margin-bottom: 3px;
        padding: 20px 10px;

        background: #ccc;

        &.center {
          text-align: center;
        }

        div.prices-range {
          div {
            &:first-child {
              text-align: left;
              padding-left: 30px;
            }
            &:last-child {
              text-align: right;
              padding-right: 30px;
            }
          }
        }
      }
    }

    div.preview {

      div.content-item {
        margin-bottom: 15px;
        padding: 15px 0;

        background: #ddd;

        div.main-descr {
          position: relative;

          p.descr {
            padding: 0;
            margin-bottom: 2px;
          }

          div.sides-wrapper {
            position: absolute;
            padding-right: 15px;
            top: 0;
            right: 0;
          }

          div.free-summary {
            display: flex;
            flex-direction: row;

            div.free-summary-item {
              flex: auto;
              margin: 0 3px;
              padding: 5px;

              background: #c0c0c0;
              text-align: center;

              div.headline {
                margin: -5px -5px 5px -5px;
                padding: 2px 5px;

                text-align: left;
                background: #aaa;
              }
            }
          }
        }

        div.actions {
          p.price {
            text-align: center;
            font-size: 130%;
          }
        }
      }

    }
  }
}